@charset "utf-8";
/*左侧边栏背景颜色*/
@theme-bg-color:#3A3F51;
/*左侧边栏宽度*/
@aside-width:190px;
/*可点击*/
.clickable{
    touch-action:manipulation;
    cursor:pointer;
}
/*超出宽度用...代替*/
.text-of(){
//    color: #ff0000 !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
