<div class="userList-body view-body">
    <ol class="breadcrumb">
        <li><a href="#">用户管理</a></li>
        <li><a href="#">用户管理</a></li>
        <li class="active">用户列表</li>
    </ol>
    <div class="operator-area">
        <button type="button" class="btn btn-primary" ng-click="editStaffInfo('add')">+</button>
        <button type="button" class="btn btn-danger" ng-click="deleteStaff()" ng-disabled="!data.oneRowSelected && !data.multiRowSelected">-</button>
        <button type="button" class="btn btn-default" ng-click="editStaffInfo('edit')" ng-disabled="!data.oneRowSelected">编辑</button>
    </div>
    <div class="grid" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection ui-grid-resize-columns ui-grid-move-columns></div>
</div>
