@charset "utf-8";

.two-line-display{
    height: 40px;
    line-height: 20px;
    overflow: hidden !important;;
    text-overflow: ellipsis !important;
    white-space:normal !important;

    display: block !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
}
