<div class="pointsMg-body view-body">
    <ol class="breadcrumb">
        <li><a href="#">用户管理</a></li>
        <li><a href="#">用户管理</a></li>
        <li class="active">用户积分管理</li>
    </ol>
    <div class="operator-area">
        <button type="button" class="btn btn-primary" ng-click="editUserPoints('add')">+</button>
        <button type="button" class="btn btn-danger" ng-click="" ng-disabled="!data.oneRowSelected && !data.multiRowSelected">-</button>
        <button type="button" class="btn btn-default" ng-click="editUserPoints('edit')" ng-disabled="!data.oneRowSelected">编辑</button>
        <span>此功能是后台人员用来为用户添加积分,直接点击+号 为用户添加几分即可</span>
    </div>
    <div class="grid" ui-grid="gridOptions" ui-grid-exporter ui-grid-selection ui-grid-resize-columns ui-grid-move-columns></div>
</div>
<script type="text/ng-template" id="editUserPointsModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{operatOpts.oprTitle}}用户积分</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label" >积分数量</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" ng-model="operatOpts.editObj.num" placeholder="填写数字时请注意正负数">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" >操作用户</label>
                <div class="col-sm-9">
                    <select ng-options="item.objectId as item.mobilePhoneNumber for item in operatOpts.etra.users" ng-model="operatOpts.editObj.userId"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" >加/减原因</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" ng-model="operatOpts.editObj.reason">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" >操作时间</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="operatOpts.editObj.date" is-open="status.beginOpen"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)"  close-text="Close" placeholder="开始时间"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openStartDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">保存</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
    </div>
</script>
